[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Natron
Exec="/run/media/danger/apps/linux/Natron/Natron" %f
GenericName=Compositing software
Comment=Node-graph based compositing software
Icon=fr.natron.Natron
Categories=Graphics;2DGraphics;RasterGraphics;
X-Desktop-File-Install-Version=0.27
X-Flatpak=fr.natron.Natron
