[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=Nuke
Exec=/run/media/danger/apps/apps/Nuke/15.1v5/Nuke15.1 --indie %f
GenericName=Compositing software
Comment=Node-graph based compositing software
Icon=/run/media/danger/apps/apps/Nuke/nuke.svg
Categories=Graphics;2DGraphics;RasterGraphics;

