[Desktop Entry]
Name=Unreal
Comment= Unreal Engine Development
Keywords=Unreal; Unreal Engine; unreal; engine; ue5; ue; UE; UE5
Exec="/media/apps/Unreal/Engine/Binaries/Linux/UnrealEditor" %f
Terminal=false
MimeType=application/unreal
#Icon=unreal
Icon=unreal
Type=Application
Categories=Development
