[Desktop Entry]
Name=Unreal
Comment=Unreal Engine Development
GenericName=Unreal Engine
Exec=/media/apps/Unreal/Engine/Binaries/Linux/UnrealEditor %f
Icon=unreal
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
Categories=Graphics;3DGraphics;
MimeType=application/x-unreal;
StartupWMClass=Unreal
Keywords=Unreal; Unreal Engine; unreal; engine; ue5; ue; UE; UE5
