[Desktop Entry]
Type=Application
Version=0.9.4
Name=Monitor
Comment=Launch the Deadline Monitor
Icon=/opt/Thinkbox/Deadline10/icons/Deadline_Monitor.png
Exec=/opt/Thinkbox/Deadline10/bin/deadlinelauncher -monitor
Terminal=false
Path=/opt/Thinkbox/Deadline10/bin
